@model Interview

<div class="warningheaderproj">
    <div class="warningproj">
        <h2 style="text-align: center;">Edit Interview</h2>
        <form class="form-group" asp-controller="Home" asp-action="SaveInterview" asp-route-id="@ViewBag.appid">
            <div class="d-flex flex-row justify-content-around gap-5">
                <div class="d-flex flex-column justify-content-center" style="width: 40%;">
                    <label asp-for="Title">Description:</label>
                    <span asp-validation-for="Title" style="color: red;"></span>
                    <input asp-for="Title" type="text" class="form-control">
                </div>
                <div class="d-flex flex-column justify-content-center" style="width: 40%;">
                    <label asp-for="IntDate">Date & Time:</label>
                    <span asp-validation-for="IntDate"></span>
                    <input type="datetime-local" asp-for="IntDate" class="form-control">
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <label asp-for="Notes">Notes:</label>
                <textarea cols="30" rows="5" style="overflow-y: scroll;" asp-for="Notes"></textarea><br>
                <button type="submit" class="btn btn-dark" style="width: 30%; margin-left: 35%;">Update Interview</button>
                <button class="cancel" onclick="exitproj()" name="cancel" style="font-weight: bolder;">Cancel</button>
            </div>
        </form>
    </div>
</div>