@{
    ViewData["Title"] = "Login & Registration";
}

<body>
    <h1 style="text-align: center; margin-top: 50px;">Track Applications, Get Hired.</h1>
    <div class="d-flex flex-row justify-content-center" style="gap: 100px; margin-top:100px;">
        <partial name="_registration"/>
        <partial name="_login"/>
    </div>
</body>